@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Quicksand:wght@500;600;700&display=swap");

body {
    background-color: #086788;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}
